<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue3寫法</title>
    <style>
        #app {
            border: 1px #333 solid;
            width: fit-content;
            padding: 10px;
        }

        img{
            width: 100px;
        }
        .wrap{
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            
        }
        .item{
            width: 50%;
            /* border: 1px red solid; */
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="pages">
            <!-- 記得加key -->
            <button v-for="page in 10" :key="page">{{page}}</button>
        </div>
        <!-- 變數 in 物件 -->
        <div class="wrap">
            <div v-for="(i, index) in product" class="item" :key="i.id">
                {{index}}
                <p>產品名稱: {{i.title}}</p>
                <p>價格: {{i.price}}元</p>
                 <!-- 前面加冒號: -->
                <img :src="i.image" :alt="i.description">
                <!-- <h1 data-attr="1">{{title}}</h1> -->
                <p>商品價格: {{i.price}}元</p>
                <div>
                    <button @click="reduce(index)">-</button>
                    <input type="number" v-model="count[index]">
                    <button @click="add(index)">+</button>
                </div>
                <button class ="add(index)">Add</button>
                <!-- <p>總計: {{total}} 元</p> -->
            </div>
            <p>總計: {{total}} 元</p>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    product: [
                        {
                            id: 1,
                            title: "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
                            price: 109.95,
                            description: "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
                            category: "men's clothing",
                            image: "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
                            rating: {
                                rate: 3.9,
                                count: 120,
                            },
                        },
                        {
                            id: 2,
                            title: "Mens Casual Premium Slim Fit T-Shirts ",
                            price: 22.3,
                            description: "Slim-fitting style, contrast raglan long sleeve, three-button henley placket, light weight & soft fabric for breathable and comfortable wearing. And Solid stitched shirts with round neck made for durability and a great fit for casual fashion wear and diehard baseball fans. The Henley style round neckline includes a three-button placket.",
                            category: "men's clothing",
                            image: "https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg",
                            rating: {
                                rate: 4.1,
                                count: 259,
                            },
                        },
                    ],
                    title: "商品名稱",
                    count: [],
                    // price: 100,
                    total: 0
                }
            },
            mounted(){
                for (i in this.product){
                    this.count.push(0)
                }
            },
            methods: {
                add(index) {
                    this.count[index] += 1
                    this.sumTotal();
                },
                reduce(index) {
                    if (this.count[index] <= 0) return //小於0跳出去
                    this.count[index] -= 1
                    this.sumTotal()
                },
                sumTotal() {
                    // this.total = this.count * this.price; //拉出來寫
                    this.total = 0
                    for(countIndex in this.count){
                        this.total += this.count[countIndex] * this.product[countIndex]['price']
                    }
                    this.total = parseInt(this.total)
             
                }
            }
        }).mount('#app')
    </script>

</body>

</html>