  a.page{
    display: inline-block;
    text-decoration: none;
    padding: 6px 20px;
    background-color: #64905b;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    transition: 0.5s;
    margin: 10px;
}
a.page:hover{
    transform: scale(0.98);
    transition: 0.5s;
    background-color: #5F9DF7;
}